@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow-x: hidden;
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --e-global-color-308e809: #0C0C1AC9;
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color-vivid-orange: #F26A39;
    --color--vivid-purple: #9b51e0;
    --color-100efa4: #492F92EB;
    --color-308e809: #0C0C1AC9;
    --color--btn--linear-gradient: linear-gradient(90deg, #00A4CCFF 33%, #F95700FF 100%);
    --font-size--small: 11px;
    --font-size--medium: 20px;
    --font-size--large: 25px;
    --font-size--x-large: 42px;
}

ul {
    padding: 0 !important;
}

ul li {
    list-style: none;
}

p {
    color: var(--color--black);
    font-family: "Comfortaa", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0 !important;
}


.scroll-to-top {
    background-color: var(--color-100efa4);
    color: #ffffff;
    border-radius: 30%;
    width: 130px;
    height: 55px;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scroll-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    background-color: var(--color--white);
}

.custom-dropdown-menu {
    position: absolute;
    top: 10px;
    left: 160px;
    right: 0;
    min-width: 200px;
    color: var(--e-global-color-308e809) !important;
}

.dropdown-menu li a {
    color: var(--e-global-color-308e809) !important;
    background-color: transparent !important;
}

/* Custom CSS styles */
.navbar {
    padding: 0 !important;
    height: 70px !important;
}

.navbar-nav .nav-item {
    flex: 1 1 auto;
}

.navbar-nav .nav-link:hover {
    border-color: var(--color-vivid-orange) !important;
}

.navbar-brand img {
    width: 200px;
    height: 30px;
}

.navbar {
    background: var(--color--white);
}

.nav-item a {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Comfortaa', sans-serif;
    color: var(--color-100efa4) !important;
    line-height: 20px;
}

.nav-link:hover,
.btn:hover {
    color: var(--color--luminous-vivid-orange) !important;
}

.custom-dropdown-toggle svg {
    fill: var(--color-100efa4);
}

.custom-dropdown-toggle:hover svg {
    fill: var(--color--luminous-vivid-orange);
}

.dropdown-toggle::after {
    border-top: none !important;
}

.btn-gradient button {
    border-radius: 8px;
    background-image: var(--color--btn--linear-gradient);
    color: var(--color--white) !important;
    padding: 14px 40px;
    border: transparent;
    font-weight: 700;
}

.btn-gradient span {
    font-size: 16px;
    font-weight: 400;
}

.btn-gradient svg {
    width: 30px;
    height: 30px;
}

.btn-gradient button:hover {
    color: var(--color--white) !important;
}

.navbar-toggler {
    background-color: var(--color--vivid-purple) !important;
    border: transparent !important;

}

.content_bg {
    background-image: url('../img/Background-2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.content h2,
.Write_Assist h2,
.time_money h2,
.gallery h2,
.Testimonials h2,
.faq_content h2,
.limitless_content h2 {
    color: var(--color-vivid-orange);
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    padding: 0px 0px 0px 5px;
    border-left: 3px solid var(--color-vivid-orange);
}

.content h1,
.Write_Assist h1,
.time_money h1,
.gallery h1,
.Testimonials h1,
.faq_content h1,
.potential_ai h1,
.limitless_content h1 {
    color: var(--color-100efa4);
    font-family: "Comfortaa", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.content p,
.time_money p,
.Write_Assist p,
.faq_content p,
.limitless_content p {
    color: var(--color--black);
    font-family: "Comfortaa", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.alert_write {
    background-color: var(--color--white) !important;
    border-color: var(--color--luminous-vivid-orange) !important;
    border-radius: 18px !important;
}

.alert_write h4 {
    color: var(--color--black);
    font-family: "Comfortaa", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
}

.slick_heading h2,
.potential_ai h2 {
    color: var(--color-100efa4);
    font-family: "Comfortaa", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 1px;
}

.slider_images img {
    margin: auto 20px !important;
}

.slick-initialized .slick-slide {
    float: inherit;
    display: inline-block !important;
    vertical-align: middle;
}

.content_bgtwo {
    background-image: url('../img/Background-2.jpg');
    background-repeat: no-repeat;
    background-position: 0% 60%;
    width: 100%;
    height: 100%;
}

.Write_Assist {
    background-image: url('../img/XMLID_1112_.png');
    background-repeat: no-repeat;
    background-position: 97% 40%;
    width: 100%;
    height: 100%;
}

.icon_heading {
    cursor: pointer;
    margin: 12px 0;
}

.icon_heading span {
    font-family: "Comfortaa", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.3s;
}

.icon_heading span:hover {
    color: var(--color-vivid-orange);
    transition: color 0.3s;
}

.content_bgtwo h4 {
    color: #F26A39;
    font-family: "Comfortaa", Sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.time_money p {
    padding: 0 250px;
}

.time_money {
    background-image: url('../img/Group.png');
    background-repeat: no-repeat;
    background-position: 3% 60%;
    width: 100%;
    height: 100%;
    align-items: center;
}

/* //////// */
/* .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
} */

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row>div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


/* .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
} */

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/* 
@media(max-width: 768px) {
    body {
        padding: 0;
    }
} */

/* //////// */

.Testimonials {
    background-image: url('../img/Group.png');
    background-repeat: no-repeat;
    background-position: 2% 10%;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.slicktwo .card {
    cursor: grab;
}

.card {
    border-radius: 20px !important;
    border: transparent !important;
    height: auto;
    box-shadow: 0px 10px 40px 0px rgb(73 47 146 / 50%);
}

.slick_parson {
    border-top: 1px solid var(--color--luminous-vivid-orange);
}

.slick-dots {
    left: 0px;
}

.slick_parson h6 {
    margin-bottom: 0 !important;
    color: var(--color-100efa4);
    font-family: "Comfortaa", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.slick-dots li button:before {
    top: 3.5px !important;
    left: 4px !important;
    width: 12px !important;
    height: 12px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    border-radius: 50%;
    background-color: var(--color--luminous-vivid-orange) !important;
}


.slick_slider_colors,
.slick-dots li button:before {
    font-size: 0px !important;
}

.slick-dots li button {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color--luminous-vivid-orange) !important;
    border-radius: 50%;
    outline: none;
}

.faq_content {
    background-image: url('../img/Group.png');
    background-repeat: no-repeat;
    background-position: 97% 40%;
    width: 100%;
    height: 100%;
}

.accordion-button {
    background-color: var(--color-100efa4) !important;
    color: var(--color--white) !important;
    font-family: "Comfortaa", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
}

.accordion-button:focus {
    z-index: 3;
    background-color: rgba(147, 69, 172, 1) !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url('../icon/arrow-down-sign-to-navigate.png') !important;

}

.accordion-body {
    font-family: "Comfortaa", Sans-serif;
}

.accordion-item .accordion-button {
    border-radius: 15px !important;
}

.Limitless_content {
    background-image: url('../img/Background-14.png');
    background-repeat: no-repeat;
    padding: 50px 200px 50px 200px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.potential_ai {
    background-color: var(--color--white);
    border-radius: 18px;
    padding: 48px;
}

.contact_btn button {
    background-color: var(--color--white);
    color: var(--color-100efa4);
    padding: 18px 65px;
}

.footer_content {
    padding: 0 48px 0 48px;
}

.footer_content h5 {
    color: var(--color-100efa4);
    font-family: "Comfortaa", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.footer_content li a {
    text-decoration: none;
    color: var(--color--black);
    font-size: 17px;
}

.footer_content li a:hover {
    text-decoration: underline;
}

.social_icon_top {
    display: block !important;
}

.social_icon_bottom {
    display: none !important;
}

.social_icon_top a,
.social_icon_bottom a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #F26A3966;
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
}

.social_icon_top img,
.social_icon_bottom img {
    position: absolute;
    top: 14px;
    left: 14px;
}

.footer_line p {
    color: #B0B0B0;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
}

@media (min-width:1299px) {

    .form-select {
        width: 120px !important;
    }
}


@media (max-width:767px) {

    .content h1,
    .Write_Assist h1,
    .time_money h1,
    .gallery h1,
    .Testimonials h1,
    .faq_content h1,
    .potential_ai h1,
    .limitless_content h1 {
        font-size: var(--font-size--large);
        line-height: 25px;
    }

    .content h2,
    .Write_Assist h2,
    .time_money h2,
    .gallery h2,
    .Testimonials h2,
    .faq_content h2,
    .limitless_content h2 {
        font-size: var(--font-size--small);
    }

    .Write_Assist,
    .time_money,
    .Testimonials,
    .faq_content {
        background-image: none;
    }

    .time_money {
        align-items: flex-start !important;
    }

    .alert_write img {
        width: 20px;
        height: 20px;
    }

    .Limitless_content {
        padding: 5px 20px 5px 20px !important;
    }

    .potential_ai {
        padding: 16px;
    }

    .slick_heading h2,
    .potential_ai h2 {
        line-height: 40px;
        letter-spacing: normal;
    }

    .limitless_content h2 {
        color: var(--color-100efa4);
        border-left: 3px solid var(--color-100efa4);
    }

    p {
        font-size: var(--font-size--small);
    }

    .alert_write h4 {
        font-size: var(--font-size--medium);
    }

    .col_image img {
        display: none;
    }

    .time_money p {
        padding: 0;
    }

    .social_icon_top {
        display: none !important;
    }

    .social_icon_bottom {
        display: block !important;
    }
}